<h1>自己学習カレンダー</h1>

<app-entry-form (entryAdd)="onEntryAdded($event)"></app-entry-form>

<hr />

<div class="layout-container">
  <div class="left-panel">
    <div class="filter-mode">
      <label>
        <input
          type="radio"
          name="mode"
          [(ngModel)]="displayModel"
          value="all"
        />
        全期間
      </label>
      <label>
        <input
          type="radio"
          name="mode"
          [(ngModel)]="displayModel"
          value="selectedMonth"
        />
        選択月
      </label>
      <label>
        <input
          type="radio"
          name="mode"
          [(ngModel)]="displayModel"
          value="currentMonth"
        />
        今月のみ
      </label>
    </div>

    <app-entry-list
      [entries]="filteredEntries"
      (entryDelete)="onEntryDelete($event)"
      (entryUpdate)="onEntryUpdate($event)"
      [genres]="genres"

    >
    </app-entry-list>
  </div>
  <div class="right-panel">
    <app-calendar
      [entries]="entries"
      [selectedYear]="selectedYear"
      [selectedMonth]="selectedMonth"
      (yearMonthChange)="onCalendarChange($event)"
    ></app-calendar>
  </div>
</div>
