<label>表示する月：</label>
<select [(ngModel)]="selectedMonth">
  <option *ngFor="let m of monthOptions; let i = index" [value]="i">
    {{ m }}
  </option>
</select>

<select [(ngModel)]="selectedYear">
  <option *ngFor="let y of yearOptions" [value]="y">{{ y }}</option>
</select>

<!-- 曜日ラベル（上部） -->
<div class="calendar-header">
  <div *ngFor="let day of weekDays" class="calendar-label">
    {{ day }}
  </div>
</div>

<div class="calendar-container">
  <div
    *ngFor="let cell of getCalendarCells()"
    class="calendar-cell"
    [ngClass]="cell.isEmpty ? 'empty' : getLevel(cell.minutes!)"
    [title]="
      cell.date
        ? (cell.date | date : 'yyyy/MM/dd') + ': ' + cell.minutes + '分'
        : ''
    "
  ></div>
</div>
