.entry-container {
  width: 100%; /* 必要に応じて幅を調整 */
  margin: 0 auto; /* 中央揃え */
  /* border: 1px solid #ccc; 見やすいように枠線を追加 */
  padding: 0px; /* 内側の余白を追加 */
  box-sizing: border-box; /* パディングを含めて幅を計算 */
}

.no-data {
  width: 80%;
  margin: 0 auto;
  text-align: center; /* テキストを中央揃え */
}

.no-data-placeholder {
    min-height: 120px; /* お好みで調整 */
    width: 100%;
    background-color: #f8f8f8;
    border: 1px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    color: #777;
    white-space: nowrap; 
  }
  