<div class="entry-container" *ngIf="entries.length > 0; else noData">
  <h2>一覧</h2>
  <ul>
    <li *ngFor="let entry of entries">
      <!-- 📅 {{ entry.date }}｜📘 {{ entry.subject }}｜⏱️ {{ entry.minutes }} 分
      <button >編集</button>
      <button (click)="onDelete(entry)">削除</button> -->
      <ng-container *ngIf="editingEntry !== entry; else editTpl">
        📅 {{ entry.date }}｜📘 {{ entry.subject }}｜⏱️ {{ entry.minutes }} 分
        <button (click)="startEdit(entry)">編集</button>
        <button (click)="onDelete(entry)">削除</button>
      </ng-container>

      <ng-template #editTpl>
        <input type="date" [(ngModel)]="editDate" />
        <input type="text" [(ngModel)]="editSubject" />

        <input type="number" [(ngModel)]="editMinutes" />
        <button (click)="saveEdit()">保存</button>
        <button (click)="cancelEdit()">キャンセル</button>
      </ng-template>
    </li>
  </ul>
</div>
<ng-template #noData>
  <div class="no-data-placeholder">
    <p class="no-data">まだ記録がありません</p>
  </div>
</ng-template>
