<form (ngSubmit)="submitForm()">
  <label>
    日付:
    <input type="date" [(ngModel)]="date" name="date" />
  </label>
  <br />

  <label>ジャンル：</label>
  <select [(ngModel)]="subject" name="subject">
    <option *ngFor="let s of subjects" [value]="s">{{ s }}</option>
  </select>

  <br />

  <label>
    時間(分):
    <input type="number" [(ngModel)]="minutes" name="minutes" />
  </label>

  <button type="submit">登録</button>
</form>

<label>ジャンルの追加</label>
<input
  type="text"
  [(ngModel)]="newSubject"
  name="newSubject"
  name="newSubject"
  placeholder="Git"
/>
<button (click)="addSubject()">追加</button>

<ul>
  <li *ngFor="let s of subjects">
    {{ s }}
    <button type="button" (click)="deleteSubject(s)">削除</button>
  </li>
</ul>
